

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(63, 136, 231);
    --color-blue-light: rgb(208, 220, 236);
}

a {
    text-decoration: none;
    color: var(--color-blue);
}