*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(63, 136, 231);
    --color-blue-light: rgb(208, 220, 236);
    --color-indicator: rgb(138, 138, 138);
    --color-green: rgb(9, 201, 25);
    --color-red: rgb(192, 75, 75);
    --color-text-grey: rgb(100, 100, 100);
}

body {
    position: relative;
    height: 100vh;
    height: 100dvh;
}

main {
    padding-block: 32px;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    cursor: pointer;
}